session_name "PIC"

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }

    tab name="Files" focus=true {
        pane split_direction="vertical" {
            pane name="Mount Files" command="yazi" cwd="~/Mount/"
        }
    }

    tab name="MareNostrum" {
        pane name="MareNostrum" command="ssh" {
            args "ist187112@glogin1.bsc.es"
        }
    }

    tab name="Rigel" {
        pane stacked=true focus=true {
            pane name="MLflow Server" command="ssh" {
                args "-L" "8080:localhost:8080" "tiagovistas@rigel.ipfn.tecnico.ulisboa.pt" "-t" "source .venv/bin/activate && mlflow server --host 127.0.0.1 --port 8080 --backend-store-uri file:/home/tiagovistas/ml-pic-collision-operators/mlruns/ --default-artifact-root file:/home/tiagovistas/ml-pic-collision-operators/mlruns/"
            }
            pane name="Rigel Shell" command="ssh" {
                args "tiagovistas@rigel.ipfn.tecnico.ulisboa.pt" "-t" "source .venv/bin/activate && exec $SHELL"
            }
        }
    }
}
