layout {
    gaps 8
    preset-column-widths {
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 1
        active-color "#4E4E4F"
        inactive-color "#505050"
    }
    border {
        off
    }
    shadow {
      on
      softness 21
      spread 6
      offset x=0 y=0
      color "#0008"
    }
}
