blur {
    passes 3
    offset 3
    noise 0.02
    saturation 1.2
}

window-rule {
    clip-to-geometry true
    geometry-corner-radius 12
    draw-border-with-background false
    opacity 0.87
    open-maximized true
    background-effect {
	    blur true
    }
    popups {
        geometry-corner-radius 15
        opacity 0.8
        background-effect {
            blur true
            saturation 3
        }
    }
}
window-rule {
    match is-focused=false
    opacity 0.75
}
window-rule {
	match app-id="org.quickshell"
	match title="Settings"
	open-floating true
}
window-rule {
	match app-id="kitty.floating"
	open-floating true
  default-column-width { proportion 0.4;}
  default-window-height {fixed 800;}
}
window-rule {
    match title="^Write:"
    open-floating true
    default-column-width { proportion 0.6;}
    default-window-height {fixed 900;}
}
window-rule {
    match app-id="org.gnome.Nautilus"
    open-floating true
    default-column-width { proportion 0.7;}
    default-window-height {fixed 1100;}
}
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
